@model MSPowerWebApp.Models.LanguageViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @* <section class="content-header">
          <h1>
            General UI
            <small>Preview of UI elements</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Blank page</li>
          </ol>
        </section>*@

    <!-- Main content -->
    <section class="content">
        <!-- COLOR PALETTE -->


        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                @*<h2 class="page-header">CMS Language</h2>*@


                <div class='box box-default'>
                    <div class='box-header with-border'>
                        <h3 class='box-title'>Choose Default CMS Language</h3>
                    </div>
                    <div class='box-body'>

                        <div class="row">
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12" style="text-align: center;">
                                @*<div class="btn-group">
                                    <button class="btn btn-default" type="button">English</button>
                                    <button class="btn btn-default" type="button">Chinese</button>
                                </div>*@
                                <form id="frmLanguage">

                                    <div class="form-group">

                                        <input type="radio" value="en" name="rdbLanguage" id="ren">
                                        English
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" value="ch" name="rdbLanguage" id="rch">
                                        Chinese
                                    </div>

                                    <input type="hidden" id="hdfLanguage" name="Filter.Language" value="@Model.Filter.Language" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script type="text/javascript">

    $(document).ready(function () {

        $('[name="rdbLanguage"]').on('ifChanged', function (event) {

            if ($(this).prop('checked')) {

                $("#hdfLanguage").val($(this).val());

                $("#frmLanguage").attr("action", "/Language/SetLanguage");

                $("#frmLanguage").attr("method", "POST");

                $("#frmLanguage").submit();
            }
        });

        SetLanguage();
    });

    function SetLanguage() {

        if ($("#hdfLanguage").val() == 'en') {

            $("#ren").prop("checked",true);
        }
        else {

            $("#rch").prop("checked",true);
        }
    }

</script>
