
@model MSPowerWebApp.Models.ProductDetailViewModel
<script src="~/Scripts/WebSite/product_search_events.js"></script>
<form id="frmSearchProduct_Details">

    <input type="hidden" id="hdfLanguage" value="@Model.Language">

<div id="dvProduct_Details">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <select id="drpProduct_Search" class="form-control input-sm">

                    @foreach (var item in Model.Product_Categories)
                    {
                        <option value="@item.Product_Category_Id">@item.Product_Category1</option>
                    }

                </select>
            </div>

            <div class="form-group">
                <select id="drpProduct_Volts" class="form-control input-sm">

                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-sm" id="btnSearchProduct">Search</button>
            </div>

        </div>
    </div>
</div>
</form>

