@model MSPowerWebApp.Models.AboutUsViewModel

@{
    ViewBag.Title = "AboutUs";
}


@*AboutUs. @Session["Language"].ToString();*@


@*<div class="lang-toggles">
    <select style="border:0px; outline:0px;" id="drpMainlang">
        @if (Session["Language"].ToString() == "en")
        {
            <option value="en" selected>English</option>
        }
        else
        {
            <option value="en">English</option>
        }

        @if (Session["Language"].ToString() == "ch")
        {
            <option value="ch" selected>Chinese</option>
        }
        else
        {
            <option value="ch">Chinese</option>
        }
    </select>
</div>*@



<div class="grid_1">
    <div class="container">
        <div class="box_1">
            <h3>Who we are</h3>
        </div>
        <div class="col-md-12 about_banner"><img src="../../../ContentOnline/images/about.jpg" class="img-responsive" alt="" /></div>
        <div class="box_20">
            <div class="col-sm-12 box_3" style="color:#333; text-align:justify">
                <p>@Html.Raw(Model.AboutUs.About_Us_Description)</p>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liAboutUs").addClass("active");

    });
</script>