@model MSPowerWebApp.Models.ContactUsViewModel


@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
          @{Html.RenderPartial("_Sidebar_Online");}

        <div>
            Contact Us. @Session["Language"].ToString();
        </div>
    </body>
    </html>*@

<style>
    #map {
        height: 100%;
    }
</style>


<div class="grid_4">
    <div class="container">
        <h1 class="blog_head">Contact</h1>

        @foreach (var item in Model.ContactUss)
        {
            string link = "https://www.google.com/maps/embed/v1/place?key=AIzaSyBJBrUCFt7OZ0Twm0qu6xXyKccbZZjjcEY&q=" + item.Latitude + "," + item.Longitude + "&zoom=12";
            <div class="well">
                <div class="row">
                    <div class="col-md-10">
                        <div class="map">
                            <iframe src="@link"></iframe>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <dl>
                            <dd><b>@item.ContactUs_Title</b></dd>

                            <dd>@(Html.Raw(item.ContactUs_Address)) </dd>



                        </dl>

                    </div>
                </div>
            </div>
        }
        

    </div>
</div>

             



                <script>
                    $(function () {

                        $(".top-menu").find("li").removeClass();

                        $("#liContactUs").addClass("active");

                    });
                </script>

  
