@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     @{Html.RenderPartial("_Sidebar_Online");}


    <div>
        Website home page. @Session["Language"].ToString();
    </div>
</body>
</html>
