@{
    ViewBag.Title = "Home";
}


<script src="~/Scripts/WebSite/main_event.js"></script>
@*Website home page. @Session["Language"].ToString();*@
   
<!-- header-section-ends -->
@*<div class="banner">
    <div class="container">
        <div class="banner-info wow slideInLeft" data-wow-delay="0.4s">
            <h2>Telecom and IT support provider for small business</h2>
            <p>Our services are fully managed and we</p>
            <p>view ourselves as IT department of our company</p>
            <a href="contact.html" class="btn btn-1 btn-1d">Request a quote</a>
        </div>


    </div>
</div>*@

<div class="content">

    <div class="container" style="padding-top:40px;">
        <div class="row wow zoomIn" data-wow-delay="0.4s">
            <div class="col-md-3">
                <h3>About</h3>
                <h1 style="border-bottom:5px solid #EE1C25">MS Power</h1>
            </div>
            <div class="col-md-9" id="pAboutUs">
               
            </div>
        </div>
    </div>

    

    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-4 wow fadeInLeftBig" data-wow-delay="0.4s">
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Latest News</div>
                    <div class="panel-body" style="padding: 25px 5px 25px 5px;">
                        <ul id="ulLatestNews"></ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Hot Jobs</div>
                    <div class="panel-body" style="padding: 25px 5px 25px 5px;">
                        <ul id="ulHotJobs"></ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInRightBig" data-wow-delay="0.4s">
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Event</div>
                    <div class="panel-body" style="padding: 25px 5px 25px 5px;">
                        <ul id="ulEvents"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="grid_1">
        <div class="container">
            <div class="span12 hexagon_box">
                <section class="effect-1">
                    <ul>
                        <li class="wow bounceInRight" data-wow-delay="0.4s">
                            <div class="circle1">
                                <img src="~/Content/Images/Product%20Categories/Discrete%20thyristor.jpg">
                            </div>
                        </li>
                        <li class=" wow bounceInDown" data-wow-delay="0.4s">
                            <div class="circle2">
                                <img src="~/Content/Images/Product%20Categories/Discrete%20diode.jpg">
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.4s">
                            <div class="circle3">
                                <img src="~/Content/Images/Product%20Categories/Power%20stack.jpg">
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="lazy-load-box  effect-slidefromright">
                    <ul>
                        <li class="wow fadeInRight" data-wow-delay="0.4s">
                            <div class="circle4">
                                <img src="~/Content/Images/Product%20Categories/power%20bridges.JPG">
                            </div>
                        </li>
                        <li class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="circle5">
                               
                                <img src="~/Content/Images/Product%20Categories/Power%20Modules.jpg" />
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    @*<div class="grid_2">
        <div class="container">
            <h3 class="head_1 wow rotateInUpLeft" data-wow-delay="0.4s">Our Services</h3>
            <div class="col-sm-4 box_6 wow rotateInDownLeft " data-wow-delay="0.4s">
                <img src="../../../ContentOnline/images/pic1.jpg" class="img-responsive img1" alt="" />
                <div class="desc">
                    <h4>Lorem Ipsum</h4>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    <div class="more"><a href="#"><img src="../../../ContentOnline/images/more.png" alt=""></a></div>
                </div>
            </div>
            <div class="col-sm-4 box_6 wow lightSpeedIn" data-wow-delay="0.4s">
                <img src="../../../ContentOnline/images/pic2.jpg" class="img-responsive img1" alt="" />
                <div class="desc">
                    <h4>Lorem Ipsum</h4>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    <div class="more"><a href="#"><img src="../../../ContentOnline/images/more.png" alt=""></a></div>
                </div>
            </div>
            <div class="col-sm-4 box_6 wow rotateIn " data-wow-delay="0.4s">
                <img src="../../../ContentOnline/images/pic3.jpg" class="img-responsive img1" alt="" />
                <div class="desc">
                    <h4>Lorem Ipsum</h4>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    <div class="more"><a href="#"><img src="../../../ContentOnline/images/more.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="team">
        <div class="container">
            <h3 class="head_2 wow rollIn" data-wow-delay="0.4s">Welcome to our team</h3>
            <div class="img-wrapper wow slideInLeft" data-wow-delay="0.4s">
                <a href="#"><img src="../../../ContentOnline/images/pic6.jpg" class="img-responsive" alt="" /></a>
                <a href="#"><img src="../../../ContentOnline/images/pic7.jpg" class="img-responsive" alt="" /></a>
                <a href="#"><img src="../../../ContentOnline/images/pic4.jpg" class="img-responsive" alt="" /></a>
            </div>
            <blockquote class="blockquote1">
                <div class="block_info wow slideInRight" data-wow-delay="0.4s">
                    <span class="heading">Lorem ipsum dolor sit amet, consectetuer</span>
                    Dignissimos ducimus qui blanditiis praesentium voluptatum corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate nonrofficia deserunt mollitia animi id est.
                </div>
                <span class="author wow bounce" data-wow-delay="0.4s"><a href="#">Dolor Smith, (trainer)</a></span>
            </blockquote>
        </div>
    </div>

    <div class="students wow  zoomInDown" data-wow-delay="0.4s">
        <div class="container">
            <h3>Testing Facilities</h3>
            

            <div class="span12 hexagon_box">
                <section class="effect-1">
                    <ul>
                        <li class="wow bounceInRight" data-wow-delay="0.4s">
                            <div class="circle1">
                                <img src="~/ContentOnline/Testing%20Facilities/DSC_3557.JPG" />
                            </div>
                        </li>
                        <li class=" wow bounceInDown" data-wow-delay="0.4s">
                            <div class="circle2">
                                <img src="~/ContentOnline/Testing%20Facilities/DSC_3560.JPG" />
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.4s">
                            <div class="circle3">
                                <img src="~/ContentOnline/Testing%20Facilities/DSC_3578.JPG" />
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="lazy-load-box  effect-slidefromright">
                    <ul>
                        <li class="wow fadeInRight" data-wow-delay="0.4s">
                            <div class="circle4">
                                <img src="~/ContentOnline/Testing%20Facilities/DSC_3585.JPG" />
                            </div>
                        </li>
                        <li class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="circle5">
                                <img src="~/ContentOnline/Testing%20Facilities/DSC_3591.JPG" />
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

        </div>
    </div>

   
</div>

<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liHome").addClass("active");

    });
</script>

