@{
    ViewBag.Title = "Home";
}




@*Website home page. @Session["Language"].ToString();*@
   
<!-- header-section-ends -->
<div class="banner">
    <div class="container">
        <div class="banner-info wow slideInLeft" data-wow-delay="0.4s">
            <h2>Telecom and IT support provider for small business</h2>
            <p>Our services are fully managed and we</p>
            <p>view ourselves as IT department of our company</p>
            <a href="contact.html" class="btn btn-1 btn-1d">Request a quote</a>
        </div>


    </div>
</div>

<div class="content">

    <div class="container" style="padding-top: 40px;">
        <div class="row wow zoomIn" data-wow-delay="0.4s">
            <div class="col-md-3">
                <h3>About</h3>
                <h1 style="border-bottom: 5px solid #EE1C25">MS Power</h1>
            </div>
            <div class="col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-4 wow fadeInLeftBig" data-wow-delay="0.4s">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Latest News</div>
                    <div class="panel-body" style="padding: 25px;">
                        <ul>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Hot Jobs</div>
                    <div class="panel-body" style="padding: 25px;">
                        <ul>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInRightBig" data-wow-delay="0.4s">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center; background-color: #231F20">Event</div>
                    <div class="panel-body" style="padding: 25px;">
                        <ul>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <p style="color: #EE1C25"><strong>Lorem ipsum is simple dummy</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="services-section">


        <div class="container">
            <h3 class="wow zoomIn" data-wow-delay="0.4s">Our Services</h3>
            <div class="services-section-grids">
                <div class="col-md-4 services-section-grid1">
                    <div class="services-section-grid1-top wow fadeInLeftBig" data-wow-delay="0.4s">
                        <h4>Lines & Calls</h4>
                        <p>We can offer you great low cost calls with a care level to suit your business</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="call"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow1"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="services-section-grid1-bottom wow fadeInLeftBig" data-wow-delay="0.4s">
                        <h4>Phone Systems</h4>
                        <p>Offering both hosted and traditional, we know we have the system for you</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="callmsg"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow2"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-section-grid2 wow bounceIn" data-wow-delay="0.5s">
                    <h4>Broadband</h4>
                    <p>ADSL, fiber, satellite and leased lines, we’ve got you covered whatever the location</p>
                    <p>Internet is a staple for any company, but getting the right connection for your business is a decision that shouldn’t be decided on the basis of a ‘good deal’</p>
                    <div class="icons icons2">
                        <div class="icon-left">
                            <i class="interact"></i>
                        </div>
                        <div class="icon-right">
                            <a href="#"><i class="arrow arrow3"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 services-section-grid3">
                    <div class="services-section-grid3-top wow fadeInRightBig" data-wow-delay="0.4s">
                        <h4>Mobile & Tablet</h4>
                        <p>We work with all the major networks to make sure you get a solution tailored you</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="dt"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow4"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="services-section-grid3-bottom wow fadeInRightBig" data-wow-delay="0.4s">
                        <h4>More Services</h4>
                        <p>Click here to find out about more services we provide at effective price range</p>
                        <div class="icons">
                            <div class="icon-left">
                                <i class="zoom"></i>
                            </div>
                            <div class="icon-right">
                                <a href="#"><i class="arrow arrow5"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="subscribe-section wow fadeInLeftBig" data-wow-delay="0.4s">
        <div class="container">
            <div class="subscribe-section-grids">
                <div class="col-md-8 subscribe">
                    <h3>Subscribe for our free PDF Ebook</h3>
                    <input type="text" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                    <a href="#">Download PDF</a>
                </div>
                <div class="col-md-4 book">
                    <img src="images/book.png" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="our-clients">
        <div class="container">
            <div class="our-clients-head text-center">
                <h3>Our Clients</h3>
            </div>
            <!---strat-image-cursuals---->
            <div class="scroll-slider">
                <div class="nbs-flexisel-container">
                    <div class="nbs-flexisel-inner">
                        <ul class="flexiselDemo3 nbs-flexisel-ul" style="left: -253.6px; display: block;">
                            <li>
                                <img src="ContentOnline/images/c1.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c2.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c3.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c4.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c1.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c2.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c3.jpg"></li>
                            <li>
                                <img src="ContentOnline/images/c4.jpg"></li>
                        </ul>
                        <div class="nbs-flexisel-nav-left" style="display: none"></div>
                        <div class="nbs-flexisel-nav-right" style="display: none"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <!---strat-image-cursuals---->
                <script type="text/javascript" src="js/jquery.flexisel.js"></script>
                <!---End-image-cursuals---->
                <script type="text/javascript">
                    $(window).load(function () {
                        $(".flexiselDemo3").flexisel({
                            visibleItems: 4,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
                </script>
                <!---->
                <!---->
            </div>
        </div>

        <!---//End-signin---->
    </div>
    <div class="testimonials-section wow fadeIn" data-wow-delay="0.4s">
        <div class="container">
            <div class="testimonials-section-head text-center">
                <h3>Testimonials</h3>
            </div>
            <div class="members">
                <div class="col-md-4 member1">
                    <img src="images/mem.jpg" alt="" />
                    <div class="text text-center">
                        <h4>John Doe</h4>
                        <p>CEO, Company.com</p>
                    </div>
                </div>
                <div class="col-md-8 description">
                    <div class="course_demo">
                        <ul id="flexiselDemo4">
                            <li>
                                <div class="client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru.</p>
                                </div>
                            </li>
                            <li>
                                <div class="client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                </div>
                            </li>
                            <li>
                                <div class="client-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo4").flexisel({
                                visibleItems: 1,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 1
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 1
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="ContentOnline/js/jquery.flexisel.js"></script>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>

<div class="contact-section text-center">
    <div class="container">
        <h3>Contact Us</h3>
        <div class="contact-top">
            <div class="col-md-4 contact-section-grid text-center">
                <i class="smartphone"></i>
                <p>Phone : (568) 486-4586</p>
                <p>x : (568) 486-4586</p>
            </div>
            <div class="col-md-4 contact-section-grid text-center">
                <i class="user"></i>
                <p>
                    Po box 45236<p>
                <p>Greater st, New york</p>
                <p>Vicrtoria 8423 USA</p>
            </div>
            <div class="col-md-4 contact-section-grid text-center">
                <i class="global"></i>
                <p><a href="mail-to:Support@yourname.com">Support@yourname.com</a></p>
                <p><a href="mail-to:hello@company.com">hello@company.com</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="contact-section-bottom">
            <div class="contact-form">
                <form>
                    <div class="col-md-6 contact-left">
                        <input type="text" class="text" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}">
                        <input type="text" class="text" value="E-mail*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail*';}">
                    </div>
                    <div class="col-md-6 contact-right">
                        <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    </div>
                    <input type="submit" value="Submit " />
                </form>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10015.498657932954!2d-0.1570060357124469!3d51.129219866008135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875f1c859d0e855%3A0xb0ce82410da5809!2sA2011%2C+Crawley%2C+West+Sussex+RH10%2C+UK!5e0!3m2!1sen!2sin!4v1409743498026" frameborder="0" style="border: 0"></iframe>
    <div class="map-layer"></div>
</div>

