@model MSPowerWebApp.Models.Job_ApplicationViewModel


@{
    ViewBag.Title = "Home";
}

@*Job Application. @Session["Language"].ToString();*@

<script src="~/Scripts/jquery.validate.js"></script>

<script src="~/Scripts/Job_Application/job_application_events.js"></script>

<script src="~/Scripts/Job_Application/job_application_method.js"></script>
<style>
    .black-background {
        background-color: #000000;
    }

    .white {
        color: #ffffff;
    }
</style>

<div class="grid_4">
    @{Html.RenderPartial("_ServerMessage");}
    <div class="container">
        <h1 class="blog_head">Careers</h1>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3><span class="fa fa-paperclip"></span>&nbsp Drop Us Your Resume, and We Will Let You Know..</h3>
                <br>
                <form id="frmJob_Application">
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>First Name :</p>
                        </div>
                        <div class="col-md-8">
                            <input id="txtFirst_Name" name="Job_Application.First_Name" type="text" class="form-control" value="Enter First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter First Name';}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>Last Name :</p>
                        </div>
                        <div class="col-md-8">
                            <input id="txtLast_Name" name="Job_Application.Last_Name" type="text" class="form-control" value="Enter Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Last Name';}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>Email ID :</p>
                        </div>
                        <div class="col-md-8">
                            <input id="txtEmail" name="Job_Application.Email" type="text" class="form-control" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>References :</p><span class="help-block">(If Any)</span>
                        </div>
                        <div class="col-md-8">
                            <input id="txtReference" name="Job_Application.Reference" type="text" class="form-control" value="Enter Reference" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Reference';}">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>Additional Information :</p><span class="help-block">(If Any)</span>
                        </div>
                        <div class="col-md-8">
                            <textarea id="editor1" class="form-control" name="Job_Application.Additional_Information" onfocus="this.value = '';" onblur="if (this.value == '') {this.text = 'Additional Information';}">Additional Information</textarea>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <p>Upload Your C.V. / Resume :</p>
                        </div>
                        <div class="col-md-8">
                            <input type="file" id="file" class="form-textfield2" name="file">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br>
                    <div class="row" style="font-size:120%">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-8 ">
                            <input id="btnSave" class="btn btn-lg black-background white" type="button" value="Send">
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liJobApplication").addClass("active");

    });
</script>

















