@model MSPowerWebApp.Models.NewsLetterViewModel

@{
    ViewBag.Title = "Home";
}

@*<div class="lang-toggles">
    <select style="border:0px; outline:0px;" id="drpMainlang">
        @if (Session["Language"].ToString() == "en")
        {
            <option value="en" selected>English</option>
        }
        else
        {
            <option value="en">English</option>
        }

        @if (Session["Language"].ToString() == "ch")
        {
            <option value="ch" selected>Chinese</option>
        }
        else
        {
            <option value="ch">Chinese</option>
        }
    </select>
</div>*@

<div class="grid_4">
    <div class="container">
        <h1 class="blog_head">News Letters</h1>

           <div class="blog_grid span2">
                
                <div class="col-md-12">
                    <h3><a href="#">@Model.NewsLetter.NewsLetter_Title</a></h3>
                    <div class="links">
                        <ul>
                            <li><i class="fa blog-icon fa-calendar"> </i><span>@Model.NewsLetter.Updated_On.ToShortDateString()</span></li>
                        </ul>
                    </div>
                    <p>
                        @if (Model.NewsLetter.NewsLetter_Description.Length > 1000)
                        {
                           @Model.NewsLetter.NewsLetter_Description.Substring(0, 1000).ToString()
                        }
                        else
                        {
                            @Html.Raw(Model.NewsLetter.NewsLetter_Description)
                        }
                    </p>
                    

                </div>

               
                    <div class="clearfix"> </div>
                    
                </div>
      

    </div>
</div>

<script>
    $(function () {

        $(".top-menu").find("li").removeClass();

        $("#liNewsLetter").addClass("active");

    });
</script>