@{
    ViewBag.Title = "Home";
}

@* News Letter @Session["Language"].ToString();*@


<div class="content">
		<div class="blog-section">
			<div class="container">
					<div class="col-md-12">
							<h2 class="with-line">News Letter</h2>
						<article class="clearfix attach">
							<header class="grid_8 alpha">
								<div class="head_element"><span class="el_1">07</span><span class="el_2">May</span></div>
								<div class="sub">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p class="sub_head">Posted by <a href="#">Admin</a> with <a href="#">3 comment(s)</a></p>
								</div>
								<div class="clearfix"></div>
							</header>
							
							<div class="grid_b4" style="width:100%;">
								
								<p>Lorem Ipsum is simply dummy text of the printing Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.  Donec gravida, felis eu venenatis ultricies, Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Ut ut molestie turpis. Curabitur tortor, vel mollis nunc vestibulum gravida. </p>
							</div>
							<div class="clearfix"></div>
						</article>
						
					</div>
					

			</div>
		</div>
		</div>