@{
    ViewBag.Title = "Home";
}

@*Application Listing. @Session["Language"].ToString();*@
  

<div class="content">
    <div class="container">
        <!---->
        <div class="products">
            <h2 class="heading text-center">Our Applications</h2>
            <div class="products-bottom">
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-1.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-2.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-3.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-4.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-5.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="col-md-4 products-grid">
                    <a class="example-image-link" href="images/product-6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="../ContentOnline/images/product-6.jpg" alt="" /></a>
                    <div class="products-info">
                        <a href="single.html">Phasellus scipiw scipitilifen. </a>
                        <p>Kuspendisse laoreet augue iderti wer interdum merti oremolo lectusto odio, sedorolu fringilla estero libero orciwe.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
