<?xml version="1.0" encoding="utf-8"?>

<log4net>
  
  <!-- Generates log based on date of system. -->
  <logger name="LogConfiguration">
    <level value="ALL" />
    <appender-ref ref="RollingTxtAppender" />
  </logger>

  <!-- Appender to insert logs in rolling txt files based on date of system. -->
  <appender name="RollingTxtAppender" type="log4net.Appender.RollingFileAppender" >
    <!-- Place log file in remote location -->
    <file value="F:\Visual Source Safe\MyLeo\Logs\" />
    <!-- We can place log file in bin folder like below-->
    <!-- <file value="bin\" /> -->
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="0" />
    <staticLogFileName value="false" />
    <countDirection value="1"/>
    <datePattern value="Lo\g-yyyyMMdd.\tx\t" />
    <!--Lo\g-yyyyMMdd-HHmmss.\tx\t-->
    <!--<layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>-->

    <layout type="log4net.Layout.DynamicPatternLayout">
      <param name="Header" value="%newline**** Trace Opened : %date{yyyy-MM-dd HH:mm:ss.fff} ****%newline"/>
      <param name="Footer" value="**** Trace Closed %date{yyyy-MM-dd HH:mm:ss.fff} ****%newline"/>
      <param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
    </layout>
    
  </appender>
 
</log4net>



