<!DOCTYPE html>

<style>

    .carousel-control {

        background-image: none !important;
    }

        .carousel-control > .fa {
            font-size: 40px;
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            margin-top: -20px;
        }

</style>

<html>

<head>

    <title>MS Power - Semiconductor | Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Quality Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web

template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function

        hideURLbar(){ window.scrollTo(0,1); } </script>
    @*<link href="../../../ContentOnline/css/bootstrap.css" rel='stylesheet' type='text/css' />*@
    @*<link href="../../../Content/AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="../../../ContentOnline/css/bootstrap.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../ContentOnline/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../../../ContentOnline/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <!----font-Awesome----->
    <link href="../../../ContentOnline/css/font-awesome.css" rel="stylesheet">
    <!----font-Awesome----->

    <link rel="stylesheet" type="text/css" media="all" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <script src="../../../Content/AdminLTE/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <script src="../../../Content/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@

    <!--Animation-->
    <script src="../../../ContentOnline/js/wow.min.js"></script>
    <link href="../../../ContentOnline/css/animate.css" rel='stylesheet' type='text/css' />
    <script>
        new WOW().init();
    </script>
    @*<script src="../../../js/jquery.chocolat.js"></script>
        <link rel="stylesheet" href="../../../css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript" charset="utf-8">
            $(function () {
                $('.about-grid a').Chocolat({ linkImages: false });
            });
        </script>*@

</head>
<body>

    @if (Context.Request.Url.ToString() == "http://localhost:61034/en" || Context.Request.Url.ToString() == "http://localhost:61034/ch" ||

    Context.Request.Url.ToString() == "http://localhost:61034/")
    
    {

        @:<div class="box-body">

        <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
            <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
            <li class="" data-slide-to="3" data-target="#carousel-example-generic"></li>
            <li class="" data-slide-to="4" data-target="#carousel-example-generic"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="Power industry.jpg" src="/ContentOnline/Slider%20Images/Power%20industry.jpg" style="width:100%">
                <div class="carousel-caption">
                    Power industry
                </div>
            </div>
            <div class="item">
                <img alt="Rail industry.jpg" src="~/ContentOnline/Slider%20Images/Rail%20industry.jpg" style="width:100%" />
                <div class="carousel-caption">
                    Rail industry
                </div>
            </div>
            <div class="item">
                <img alt="Steel industry.jpg" src="~/ContentOnline/Slider%20Images/Steel%20industry.jpg" style="width:100%" />
                <div class="carousel-caption">
                    Steel industry
                </div>
            </div>

            <div class="item">
                <img alt="welding industry.jpg" src="~/ContentOnline/Slider%20Images/welding%20industry.jpg" style="width:100%" />
                <div class="carousel-caption">
                    welding industry
                </div>
            </div>

            <div class="item">
                <img alt="wind industry.jpg" src="~/ContentOnline/Slider%20Images/wind%20industry.jpg" style="width:100%" />
                <div class="carousel-caption">
                    wind industry
                </div>
            </div>

            </div>
            <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                <span class="fa fa-angle-left"></span>
            </a>
            <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    }
    
        else

        {
        
            @:<div class="content"></div> 
        }


    <div class="container">
        <div class="lang-toggles">
            @if (Session["Language"].ToString() == "en")
            {
                <a class="lang-toggle lang-en active" href="/en/set-language">
                    <span>English</span>
                </a>
            }
            else
            {
                <a class="lang-toggle lang-en" href="/en/set-language">
                    <span>English</span>
                </a>
            }
            @if (Session["Language"].ToString() == "ch")
            {

                <span class="lang-toggle-divider">|</span>
                <a class="lang-toggle lang-sp active" href="/ch/set-language">
                    <span>Chinese</span>
                </a>
            }
            else
            {
                <span class="lang-toggle-divider">|</span>
                <a class="lang-toggle lang-sp" href="/ch/set-language">
                    <span>Chinese</span>
                </a>
            }

        </div>
        @if (Context.Request.Url.ToString() == "http://localhost:61034/en" || Context.Request.Url.ToString() == "http://localhost:61034/ch" ||

Context.Request.Url.ToString() == "http://localhost:61034/")
        {

            @*<div class="header_top">
                <h1>There are many variations of passages of Lorem Ipsum available</h1>
                <h2>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The

                    point of using Lorem Ipsum is that it has a more-or-less normal distribution
                </h2>
            </div>*@
        }
    </div>
</div>

<div class="header-home">
    <div class="fixed-header">
        <div class="logo">
            <a href="index.html">
                <img src="../../../ContentOnline/images/mspower.png" class="img-responsive" alt="">
            </a>
        </div>
        @{Html.RenderPartial("_Sidebar_Online");}


        @*<div id="credit" class="top-nav1">
                            <ul>
                                <li><a href="#" id="searchtoggl"><i class="fa fa-search fa-2x" id="btnModalProductSearch" style="cursor:

            pointer;"></i></a></li>
                            </ul>
                        </div>*@

        <div id="credit" class="top-nav1">
            <ul>
                <li><a href="#" id="searchtoggl"><i class="fa fa-search fa-lg"></i></a></li>
            </ul>
        </div>

        <div id="searchbar" class="clearfix">

            <div class="form-group">

                <form id="searchform">

                    <button type="submit" id="searchsubmit" class="fa fa-search fa-2x" style="color:white"></button>

                    <div class="row">

                            <div class="col-md-1" id="or">
                                <h3>Search :</h3>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="usr1">Search by Products:</label>
                                    <input type="text" class="form-control" id="usr1">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="usr2">Search by Competitor Product Names:</label>
                                    <input type="text" class="form-control" id="usr2">
                                </div>
                            </div>

                            <div class="col-md-1" id="or">
                                <h3>- OR -</h3>
                            </div>
                        

                        @*<div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Select list:</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Select list:</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Select list:</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>*@

                        <div id="dvProductCategory">

                        </div>

                    </div>

                    <input type="hidden" id="hdfSearchProductCategoryId" value="0">

                   
                </form>
            </div>
        </div>

    </div>
    <div class="clearfix"> </div>
</div>

@RenderBody()

<input type="hidden" id="hdfsessionLanguage" value="@Session["Language"].ToString()">

<div class="footer wow fadeInRight" data-wow-delay="0.4s">
    <div class="container">
        <div class="footer_top">
            <div class="col-sm-3">
                <ul class="list1">
                    <h3>Browse</h3>
                    <li><a href="#">Industrial Resources</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Buildings</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list1">
                    <h3>Services</h3>
                    <li><a href="#">Communications</a></li>
                    <li><a href="#">Electrical</a></li>
                    <li><a href="#">Industrial</a></li>
                    <li><a href="#">Mechanical</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list1">
                    <h3>Navigation</h3>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Apply</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="socials">
                    <li><a href="#"><i class="fa fb fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa tw fa-twitter"></i></a></li>
                </ul>
                <ul class="list2">
                    <li><strong class="phone">+0018 58287 58</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
                    <li>Questions? <a href="malito:mail@demolink.org">mail(at)quality.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="copy">

    <p>Copyright &copy; 2015 .  All Rights Reserved . Design by <a href="#" target="_blank">Abacus Infosystems Pvt. Ltd.</a> </p>

</div>
</body>
</html>

<script type="text/javascript">

    $(function () {

        var $searchlink = $('#searchtoggl i');

        var $searchbar = $('#searchbar');

        $('#credit ul li a').on('click', function (e) {

            e.preventDefault();

            if ($(this).attr('id') == 'searchtoggl') {

                if (!$searchbar.is(":visible")) {

                    // if invisible we switch the icon to appear collapsable

                    $searchlink.removeClass('fa-search').addClass('fa-search-minus');

                } else {

                    // if visible we switch the icon to appear as a toggle

                    $searchlink.removeClass('fa-search-minus').addClass('fa-search');

                }

                $searchbar.slideToggle(300, function () {

                    // callback after search bar animation

                });
            }
        });

        //$('#searchform').submit(function (e) {
        //    e.preventDefault(); // stop form submission
        //});


        $("#searchsubmit").click(function () {

            //$("#searchform").attr("action", "/" + $("#hdfsessionLanguage").val() + "/product-listing?product_Category_Id=" + $("#hdfSearchProductCategoryId").val() + "/" +  $("#usr1").val());

            $("#searchform").attr("action", "/" + $("#hdfsessionLanguage").val() + "/product-listing" + "/" + $("#hdfSearchProductCategoryId").val() + "/" + $("#usr1").val());

            $("#searchform").attr("method", "POST");

            $("#searchform").submit();
        });

        $("body").on("change", ".drp-product-category", function () {

            $(this).parents(".row-product-cat").nextAll().remove();

            $("#hdfSearchProductCategoryId").val($(this).val());

            Get_Product_Category_By_Parent($(this).val());
        });


        Get_Product_Category_By_Parent(0);


    });

    function Get_Product_Category_By_Parent(parent_Id) {

        $.ajax({

            url: "/ProductDetails/Get_Product_Categories_By_Language_Parent",

            data: { parent_Product_Category_Id: parent_Id },

            method: "GET",

            success: function (data) {

                if (data != null) {

                    if (data.length > 0) {

                        var html = Callback_Parent_Category(data);

                        $("#dvProductCategory").append(html);
                    }
                }
            }
        });
    }

    function Callback_Parent_Category(data) {

        var html = "";

        html += "<div class='col-md-2 row-product-cat'>";

        html += "<label> Category :</label>";

        html += "<div class='form-group'>";

        html += "<select class='drp-product-category form-control ' >"

        html += "<option value=''>-Select Category-</option>";

        if (data.length > 0) {

            for (var i = 0; i < data.length; i++) {

                html += "<option value='" + data[i].Product_Category_Id + "'>" + data[i].Product_Category + "</option>";
            }
        }

        html += "</select>";

        html += "</div>";

        html += "</div>";

        return html;
    }

</script>