<script src="~/Scripts/generic.dragdrop.js"></script>

<style>
    .div-drag-drop {
        width: 100%;
        background-color: rgb(255, 255, 214);
        height: 100px;
        border: 1px dashed #E7E7E7;
        text-align: center;
        color: #878787;
    }

    .div-highlight {
        width: 100%;
        background-color: rgb(255, 255, 214);
        border: 1px dashed #E7E7E7;
    }
</style>


<div class="row">
<div class="col-md-12">
    <div class="form-group">
        <label for="Enquiry_Attach_Emails_Files" style="color: #333">Attach Emails and Files</label>
        <div class="div-drag-drop" id="Enquiry_Attach_Emails_Files">drag and drop here.</div>
        <br>
        <div class="multiple-list"></div>
    </div>
</div>

</div>

<script type="text/javascript">

$(document).ready(function(){

  // Drag and Drop Initialization
    InitializeDragDrop($("#Enquiry_Attach_Emails_Files"), "/upload/attachments", Callback, { RefType: $('#hdnRef_Type'), RefId: $('#hdnProduct_Id') });

    Bind_Attachments();
    // End : Attachments
});

</script>

